<a href="https://colab.research.google.com/github/salmakhale/ML-Data-Analysis/blob/main/Copy_of_pandas_Basics_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<hr style="border:5px solid #108999"> </hr>

# pandas Basics <hr style="border:4.5px solid #108999"> </hr>

## Introduction to pandas Series

Import the 'pandas' library to load it into the computer's memory, so that you can work with it in this Notebook Document.

*Note: Don't forget to use the widely-accepted convention as well.*

Remember that no matter how many times you execute this code cell, the library will be imported only once in this Document, and it will remain active.

In [ ]:
import pandas as pd

Check the version of the library you just imported.

In [ ]:
pd.__version__

'2.1.4'

Create the **employee_names** list.

In [ ]:
employee_names =[['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
]
employee_names

[['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']]



```
# This is formatted as code
```

Verify the **employee_names** object is a list.

In [ ]:
if isinstance(employee_names, list):
    print("employee_names is a list.")
else:
    print("employee_names is not a list.")

employee_names is a list.

Create a pandas Series object containing the elements from the **employee_names** list. Call it **employee_names_Series**.

In [ ]:
employee_names_Series = pd.Series(employee_names)
employee_names_Series

0    [Amy White, Jack Stewart, Richard Lauderdale, ...
dtype: object



```
# This is formatted as code
```

Confirm the object is of the Series type.

*Note: Feel free to take advantage of the Jupyter autocompletion feature. You can activate it through the Tab button while typing code.*

In [ ]:
employee_names = pd.Series(['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'])

if isinstance(employee_names, pd.Series):
    print("employee_names is a Series.")
else:
    print("employee_names is not a Series.")

employee_names is a Series.

Now, create a Series object directly. That is, not from an existing list, but by using the following structure:
**pd.Series([...])**
<br/>Let the elements of the Series object be the following numbers: 5, 8, 3, and 10. Name the object **work_experience_yrs.**

In [ ]:
employee_names = pd.Series(['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'])
print(employee_names)

0             Amy White
1          Jack Stewart
2    Richard Lauderdale
3          Sara Johnson
dtype: object

Import the 'NumPy' package to load it into the computer's memory, so that you can work with it in this Notebook Document.

*Note: Don't forget to use the widely-accepted convention as well.*

In [ ]:
import numpy as np

Execute the code cell below to create the **array_1** NumPy array object.

In [ ]:
array_age = np.array([50, 53, 35, 43])
array_age

array([50, 53, 35, 43])

Verify the type of the **array_age** object:

In [ ]:
type(array_age)

numpy.ndarray

Create a Series object called **series_age** from the NumPy array object **array_age** you just created.

In [ ]:
Series_age = pd.Series(array_age)
Series_age

0    50
1    53
2    35
3    43
dtype: int64

Check the type of the newly created object.

In [ ]:
type(Series_age)

pandas.core.series.Series

Use the *print()* function to display the content of **series_age**.

In [ ]:
print(Series_age)

0    50
1    53
2    35
3    43
dtype: int64

## Working with Attributes in Python

Focus on the following Series object:

In [ ]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

Return the values stored in **work_experience_years**.

In [ ]:
print(work_experience_years)

0     5
1     8
2     3
3    10
dtype: int64

Check the type of the returned object.

In [ ]:
type(work_experience_years)

pandas.core.series.Series

Use an attribute to find the number of elements in the underlying data. <br/>*Note: The same output will be displayed whether or not you make use of the **print()** function.*

In [ ]:
work_experience_years = pd.Series([5,8,3,10])

work_experience_years.size

4

Assign the following name to this Series: **Work Experience (Yrs.)**

In [ ]:
work_experience_years.name = "Work Experience (Yrs.)"

work_experience_years

0     5
1     8
2     3
3    10
Name: Work Experience (Yrs.), dtype: int64

Display the name of the Series.

In [ ]:
work_experience_years.name = "Work Experience (Yrs.)"
work_experience_years.name

'Work Experience (Yrs.)'

[link text](https://)Display the Series itself, to see the name appear below the data values it contains.

In [ ]:
work_experience_years.name = "Work Experience (Yrs.)"
work_experience_years

0     5
1     8
2     3
3    10
Name: Work Experience (Yrs.), dtype: int64

## Using an Index in pandas

Execute the following code cell to create a dictionary that includes data about

---

the names of the employees as its *keys*, as well as their age as *values*.

In [ ]:
workers_age = {'Amy White':50, 'Jack Stewart':53, 'Richard Lauderdale':35, 'Sara Johnson':43}
workers_age

{'Amy White': 50,
 'Jack Stewart': 53,
 'Richard Lauderdale': 35,
 'Sara Johnson': 43}

Verify the type of **workers_age** is a dictionary.

In [ ]:
type(workers_age
    )

dict

Create a Series from **workers_age**, giving it the same name.

In [ ]:
workers_age=pd.Series(workers_age)
workers_age

Amy White             50
Jack Stewart          53
Richard Lauderdale    35
Sara Johnson          43
dtype: int64

Verify **workers_age** is a Series object.

In [ ]:
is_series = isinstance(workers_age, pd.Series)

is_series

True

Retrieve the index of **workers_age**.

In [ ]:
workers_age.index

Index(['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], dtype='object')

## Label-based vs Position-based Indexing

Create a pandas Series object from a dictionary with keys "Martin" and "George" and values 8 and 5, respectively. Call this Series **workers_work_exp**, as from "workers work experience".

In [ ]:
workers_data = {
    'Martin': 8,
    'George': 5
}
workers_work_exp = pd.Series(workers_data, name="Workers Work Experience")
workers_work_exp

Martin    8
George    5
Name: Workers Work Experience, dtype: int64

Retrieve the index values to confirm they are labels.

In [ ]:
index_labels = workers_work_exp.index
index_labels

Index(['Martin', 'George'], dtype='object')

Extract the first of these values to prove they are strings.

In [ ]:
type(workers_work_exp.index[0])

str

Create a pandas Series object from an array that contains the following values: 44, 54, 65, 35. Call it **series_age**.

In [ ]:
series_age= pd.Series([44,54,65,35])
series_age

0    44
1    54
2    65
3    35
dtype: int64

Retrieve the index values of **series_age** to see they are numbers, thus representing positioned data.

In [ ]:
series_age.index

RangeIndex(start=0, stop=4, step=1)

## Using Methods in Python

Consider the following Series object.

In [ ]:
employees_work_experience = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})
employees_work_experience

Amy White              3.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Sara Johnson          22.0
Patrick Adams         28.0
Jessica Baker         14.0
Peter Hunt             4.0
Daniel Lloyd           6.0
John Owen              1.5
Jennifer Phillips     10.0
Courtney Rogers        4.5
Anne Robinson          2.0
dtype: float64

Use a certain method to extract the top five values from this Series.
<br/> *Please be aware that pandas may automatically display the values of the object as floats as opposed to integers.*

In [ ]:
TopValue =employees_work_experience.head(5)
TopValue

Amy White              3.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Sara Johnson          22.0
Patrick Adams         28.0
dtype: float64

In [ ]:
employees_work_experience[0:5,]

Amy White              3.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Sara Johnson          22.0
Patrick Adams         28.0
dtype: float64

\Use another method to extract the last few rows of **employees_work_experience**.

In [ ]:
last_values = employees_work_experience.tail(2)
last_values

Courtney Rogers    4.5
Anne Robinson      2.0
dtype: float64

## Parameters vs Arguments

Consider the following Series object.

In [ ]:
employees_work_experience = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})
employees_work_experience

Amy White              3.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Sara Johnson          22.0
Patrick Adams         28.0
Jessica Baker         14.0
Peter Hunt             4.0
Daniel Lloyd           6.0
John Owen              1.5
Jennifer Phillips     10.0
Courtney Rogers        4.5
Anne Robinson          2.0
dtype: float64

Use a pandas method to retrieve the first three records of the object.

In [ ]:
first_three_records =employees_work_experience .head(3)
first_three_records

Amy White             3.0
Jack Stewart          5.0
Richard Lauderdale    4.5
dtype: float64

Use a pandas method to retrieve the last four records of the object.

In [ ]:
last_four_records =employees_work_experience .tail(4)
last_four_records

John Owen             1.5
Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64

## Introduction to pandas DataFrames

Create the following DataFrame in 4 different ways. (You don't need to think about assigning index values yet.)

![Capture.PNG](attachment:Capture.PNG)

Example solutions:

In [ ]:
#From a List of Dictionaries

data_list_of_dicts = [
    {"Name": 'Amy White', "Age": 50, "Working Experience (Yrs.)": 5},
    {"Name": 'Jack Stewart', "Age": 53, "Working Experience (Yrs.)": 8},
    {"Name": 'Richard Lauderdale', "Age": 35, "Working Experience (Yrs.)": 3},
    {"Name": 'Sara Johnson', "Age": 43, "Working Experience (Yrs.)": 10}
]

df_list_of_dicts = pd.DataFrame(data_list_of_dicts)
df_list_of_dicts

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

In [ ]:
#From list of list
data_list_of_lists = [
    ['Amy White', 50, 5],
    ['Jack Stewart', 53, 8],
    ['Richard Lauderdale', 35, 3],
    ['Sara Johnson', 43, 10]
]

columns = ["Name", "Age", "Working Experience (Yrs.)"]

df_list_of_lists = pd.DataFrame(data_list_of_lists, columns=columns)

df_list_of_lists

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

In [ ]:
# From an Array

data_array = np.array([
    ['Amy White', 50, 5],
    ['Jack Stewart', 53, 8],
    ['Richard Lauderdale', 35, 3],
    ['Sara Johnson', 43, 10]
])

columns = ["Name", "Age", "Working Experience (Yrs.)"]

df_array = pd.DataFrame(data_array, columns=columns)

df_array

                 Name Age Working Experience (Yrs.)
0           Amy White  50                         5
1        Jack Stewart  53                         8
2  Richard Lauderdale  35                         3
3        Sara Johnson  43                        10

In [ ]:
# From a Dictionary of Lists

data_dict = {
    "Name": ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'],
    "Age": [50, 53, 35, 43],
    "Working Experience (Yrs.)": [5, 8, 3, 10]
}

df_dict = pd.DataFrame(data_dict)
df_dict

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

Modify the code below to add integers starting from 1 in ascending order as index values.

In [ ]:
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'],
    "Age":[50, 53, 35, 43],
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data ,index=[1, 2, 3, 4])
df

                 Name  Age  Working Experience (Yrs.)
1           Amy White   50                          5
2        Jack Stewart   53                          8
3  Richard Lauderdale   35                          3
4        Sara Johnson   43                         10